.contactSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../public/light.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20%;
  padding: 3rem 0.5rem;
  position: relative;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.contactSection .formConatiner {
  justify-content: center;
  gap: 3.5rem;
  flex-wrap: wrap;
  align-items: center;
  padding: 2.5rem 3rem;
  border-radius: 15px;
  background: linear-gradient(
    114.85deg,
    rgba(47, 84, 124, 0.553) -16.49%,
    rgba(13, 13, 13, 0.52) 141.85%
  );
}
.formConatiner .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}
.formConatiner input::placeholder,
.formConatiner textarea::placeholder {
  color: #00e5d1;
}
.formConatiner input:focus,
.formConatiner textarea:focus {
  border: 1px solid rgba(0, 255, 255, 0.814);
  outline: 1px solid rgba(0, 255, 255, 0.262);
  
}
.formConatiner .form h1 {
  font-size: 35px;
  margin-top: 0.5rem;
  color: #00c6b6;
}
.formConatiner .imgContainer {
  width: 350px;
  height: 350px;
  margin: 1.5rem auto;
}
.formConatiner .imgContainer .conatctImg {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.form .inputsContainer {
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}
.form input,
.form textarea {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 14px;
  background: transparent;
  border: 1px solid rgba(0, 255, 255, 0.262);
  color: white;
  width: 100%;
}
.form .submitForm {
  color: white;
  margin: 0.2rem 0;
  cursor: pointer;
  background: linear-gradient(320deg, #00e5d2 5%, #007d72 90%);
  padding: 10px 60px;
  border-radius: 15px;
  font-size: 16px;
  border: none;
  font-weight: 600;
  align-self: flex-start;
  justify-self: flex-start;
}
.form .submitForm:hover {
  background: #48fff0 ;
}
